
ytd-video-renderer[use-prominent-thumbs] ytd-thumbnail.ytd-video-renderer {
  visibility: visible !important;
}

ytd-thumbnail #thumbnail.ytd-thumbnail {
  visibility: visible !important;
}

img.yt-img-shadow {
  visibility: visible !important;
}

.yt-simple-endpoint {
  display: block !important;
  visibility: visible !important;
}

ytd-thumbnail #thumbnail.ytd-thumbnail yt-img-shadow.ytd-thumbnail {
  visibility: visible !important;
}

/* watch this */
#metadata-line.ytd-video-meta-block span.ytd-video-meta-block { 
  visibility: visible !important;
}

#text-container.ytd-channel-name, ytd-rich-grid-media[mini-mode] #video-title.ytd-rich-grid-media {
  visibility: visible !important;
  display: block !important;
}

yt-img-shadow.empty img.yt-img-shadow {
  visibility: visible !important;
}

ytd-guide-entry-renderer, #guide-section-title.ytd-guide-section-renderer {
  visibility: visible !important;
}