img.yt-img-shadow {
  visibility: visible !important;
}

ytd-compact-video-renderer #video-title.ytd-compact-video-renderer {
  visibility: hidden !important;
}

#text-container.ytd-channel-name {
  visibility: hidden !important;
}

#metadata-line.ytd-video-meta-block span.ytd-video-meta-block {
  visibility: hidden !important;
}

#button.ytd-menu-renderer yt-icon.ytd-menu-renderer {
  visibility: hidden;
}

ytd-thumbnail-overlay-time-status-renderer yt-icon.ytd-thumbnail-overlay-time-status-renderer {
  visibility: hidden;
}

ytd-compact-radio-renderer.use-ellipsis #video-title.ytd-compact-radio-renderer {
  visibility: hidden;
}

ytd-thumbnail #thumbnail.ytd-thumbnail yt-img-shadow.ytd-thumbnail {
  cursor: pointer !important;
  pointer-events: none !important;
  visibility: hidden !important;
  display: none !important;
}

ytd-thumbnail #thumbnail.ytd-thumbnail {
  cursor: pointer !important;
  pointer-events: none !important;
  visibility: hidden !important;

}

yt-chip-cloud-chip-renderer.yt-chip-cloud-renderer, .details.ytd-compact-video-renderer, .details.ytd-compact-radio-renderer, ytd-button-renderer #button.ytd-button-renderer {
  cursor: default !important;
  pointer-events: none !important;
  visibility: hidden !important;  
}

a.yt-simple-endpoint.ytd-button-renderer {
  visibility: visible;
}

#button.ytd-button-renderer yt-icon.ytd-button-renderer + yt-formatted-string.ytd-button-renderer, ytd-button-renderer yt-formatted-string.ytd-button-renderer {
  visibility: visible !important;
}

#text.ytd-channel-name {
  visibility: hidden !important;
}

ytd-toggle-button-renderer #button.ytd-toggle-button-renderer {
  visibility: visible !important;
}

ytd-playlist-custom-thumbnail-renderer, ytd-compact-playlist-renderer #video-title.ytd-compact-playlist-renderer {
  visibility: hidden !important;
}

ytd-thumbnail-overlay-side-panel-renderer, yt-formatted-string.ytd-thumbnail-overlay-side-panel-renderer, yt-icon.ytd-thumbnail-overlay-side-panel-renderer {
  visibility: hidden !important;
}

yt-img-shadow.empty img.yt-img-shadow {
  visibility: hidden !important;
  cursor: default !important;
}

.badge-style-type-verified-artist.ytd-badge-supported-renderer {
  visibility: hidden !important;
}

#movie-title.ytd-compact-movie-renderer, .movie-metadata.ytd-compact-movie-renderer {
  visibility: hidden !important;
}

#name.ytd-author-comment-badge-renderer {
  visibility: visible !important;
}

ytd-compact-video-renderer:not([watch-feed-big-thumbs]) ytd-thumbnail.ytd-compact-video-renderer {
  visibility: hidden !important;
}

